server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://SEU_HOST/SEU_DATABASE
    username: SEU_USUARIO
    password: SUA_SENHA
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
      platform: postgresql
      schema-locations: classpath:schema-postgresql.sql
      separator: ";"